# Introduction

This data analysis will analyse WeRateDogs tweet account to see what kinds of dog are most popular in two metrics which is count of retweet and favourite. The data are gathered manually, programmatically and through twitter API to retrieve the data. And then we will access and clean the data. And finally visualising the data to see the result.

In [1]:
import requests
import pandas as pd
import matplotlib as plt
import os
import tweepy
import time
import json
import numpy as np
%matplotlib inline

## Gather

In [2]:
#Download the tsv file from the url with requests lib
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
r = requests.get(url)
with open(os.path.join(os.getcwd(), url.split("/")[-1]), "wb") as file:
    file.write(r.content)

In [116]:
#read the csv file to get the tweet id
df_twitter_archive = pd.read_csv("twitter-archive-enhanced.csv")

In [10]:
#get the tweet json information and write to a txt file
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
start = time.time()
with open(os.path.join(os.getcwd(), "tweets_detail.txt"), "w") as file:
    for e in df_twitter_archive.tweet_id:
        try:
            tweet = api.get_status(e)
            json.dump(tweet._json, file)
            file.write("\n")
        except:
            file.write("not found under this tweet id{}".format("\n"))
end = time.time()
print(end-start)

Rate limit reached. Sleeping for: 452
Rate limit reached. Sleeping for: 564

1919.3908479213715

In [11]:
#retrieve data from txt file for each tweet and append it to a list
tweet_count_list = []
with open(os.path.join(os.getcwd(), "tweets_detail.txt"), "r") as file:
    for line in file:
        try:
            json_data = json.loads(line)
            tweet_id, fav_count, retweet_count = str(json_data["id"]), int(json_data["favorite_count"]), int(json_data["retweet_count"])
            tweet_count_list.append({"tweet_id": tweet_id,
                                 "fav_count": fav_count,
                                 "retweet_count": retweet_count})
        except:
            tweet_count_list.append({"tweet_id": np.nan,
                                     "fav_count": np.nan,
                                     "retweet_count": np.nan})
#create pandas dataframe from the list
df_tweet_count = pd.DataFrame(tweet_count_list, columns=["tweet_id", "fav_count", "retweet_count"])

## Assess

In [12]:
df_twitter_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [24]:
df_twitter_archive.retweeted_status_id.sample(20)

641              NaN
317              NaN
809              NaN
2224             NaN
951              NaN
1663             NaN
2211             NaN
1531             NaN
488     7.902771e+17
2263             NaN
1975             NaN
1313             NaN
868     6.853251e+17
1871             NaN
1503             NaN
1148             NaN
1606             NaN
1629             NaN
41               NaN
761              NaN
Name: retweeted_status_id, dtype: float64

In [14]:
df_twitter_archive.name.sample(20)

1952    Shnuggles
1200         None
383       Charlie
440          None
882         Rocco
533         Ollie
887          None
2241         Otis
1740       Dwight
425       Sampson
1928         None
828         Kirby
724        Deacon
2262       George
358        Samson
712        Stormy
567          Loki
2294         None
1490         None
97         Sierra
Name: name, dtype: object

In [15]:
df_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [119]:
df_twitter_archive.tweet_id.duplicated().sum()

0

### Quality

- timestamp is in string type instead of datetime object
- retweet is not relevant
- some name are just a and it should be defined as None
- tweet_id should be string instead of int since it does not carry any mathematical meaning
- None string value in doggo, floofer, pupper, puppo
- Missing name should be Nan value instead of using string None

### Tidiness

- source, in_reply_to_status_id, in_reply_to_user_id, source, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expended_urls columns are not relevant
- doggo, floofer, pupper, puppo are variables

In [16]:
df_image_pred = pd.read_csv("image-predictions.tsv", "\t")

In [17]:
df_image_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [18]:
df_image_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [19]:
df_image_pred.p1_dog.value_counts()

True     1532
False     543
Name: p1_dog, dtype: int64

### Quality

- tweet_id should be string instead of int since it does not carry any mathematical meaning
- p1, p1_conf, p1_dog etc. are not descriptive name
- those predicted not as a dog (p1_dog) should not be included

### Tidiness

- p2, p3 and their related columns are relevant but for the sake of simplicity, only the most likely prediction (p1) will be used.
- img num is not necessary

In [20]:
df_tweet_count

                tweet_id  fav_count  retweet_count
0     892420643555336193    36421.0         7744.0
1     892177421306343426    31363.0         5736.0
2     891815181378084864    23636.0         3798.0
3     891689557279858688    39733.0         7902.0
4     891327558926688256    37922.0         8538.0
...                  ...        ...            ...
2351  666049248165822465       98.0           41.0
2352  666044226329800704      274.0          133.0
2353  666033412701032449      113.0           41.0
2354  666029285002620928      121.0           42.0
2355  666020888022790149     2426.0          464.0

[2356 rows x 3 columns]

In [21]:
df_tweet_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tweet_id       2331 non-null   object
 1   fav_count      2331 non-null   float64
 2   retweet_count  2331 non-null   float64
dtypes: float64(2), object(1)
memory usage: 55.3+ KB

### Quality

- fav_count and retweet_count should be integer
- null values should be dropped

## Clean - df_twitter_archive

##### Define

- change timestamp to datatime object
- retweet are with retweet_status_id. drop 181 rows with retweet_status_id
- replace name with value a with np.nan
- tweet_id change from int to string
- None value in doggo, floofer, pupper, puppo should be replaced with np.nan
- None value in name should be replace with np.nan
- drop in_reply_to_status_id, in_reply_to_user_id, source, retweeted_status_id, retweeted_status_user_id,  retweeted_status_timestamp, expended_urls columns

##### Code

In [133]:
#make a copy
df_twitter_archive_cleaned = df_twitter_archive.copy()

#change timestamp data type to datetime object
df_twitter_archive_cleaned.timestamp = pd.to_datetime(df_twitter_archive_cleaned.timestamp)
#drop 181 retweet rows
df_twitter_archive_cleaned = df_twitter_archive_cleaned[~df_twitter_archive_cleaned["retweeted_status_id"].notnull()]
#change name a to Nan
df_twitter_archive_cleaned.name.replace("a", np.nan, inplace=True)
#change tweet_id from int to string
df_twitter_archive_cleaned.tweet_id = df_twitter_archive_cleaned.tweet_id.astype("str")
#change None string value in name to np.nan
df_twitter_archive_cleaned.loc[(df_twitter_archive_cleaned.name == "None"),"name"] = np.nan
#change None string value in doggo, floofer, pupper, puppo to np.nan
dog_type_column_list = ["doggo", "floofer", "pupper", "puppo"]
for e in dog_type_column_list:
    df_twitter_archive_cleaned.loc[(df_twitter_archive_cleaned[e] == "None"), e] = np.nan

##### Test

In [138]:
#timestamp is datetime object
#0 retweeted_status_id
#tweet_id should be string type
df_twitter_archive_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2175 non-null   object
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2175 non-null   datetime64[ns, UTC]
 4   source                      2175 non-null   object
 5   text                        2175 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2117 non-null   object
 10  rating_numerator            2175 non-null   int64
 11  rating_denominator          2175 non-null   int64
 12  name                        1440 non-null   object
 13  doggo                       87 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      234 non-null    object
 16  puppo                       25 non-null     object
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(10)
memory usage: 305.9+ KB

In [139]:
 #should be 0 with retweet_status_id
df_twitter_archive_cleaned["retweeted_status_id"].notnull().sum()

0

In [140]:
#should be 0 with name "None"
df_twitter_archive_cleaned.loc[(df_twitter_archive_cleaned.name == "None")].name.sum()

0

#### Code

In [142]:
#drop irrelevant columns
df_twitter_archive_cleaned = df_twitter_archive_cleaned.drop(labels=["in_reply_to_status_id","in_reply_to_user_id","source",
                                                                    "retweeted_status_id", "retweeted_status_user_id", "retweeted_status_timestamp",
                                                                    "expanded_urls"], axis=1)

##### Test

In [143]:
df_twitter_archive_cleaned.head()

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56+00:00,This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,2017-08-01 00:17:27+00:00,This is Tilly. She's just checking pup on you....,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,2017-07-31 00:18:03+00:00,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,2017-07-30 15:58:51+00:00,This is Darla. She commenced a snooze mid meal...,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,2017-07-29 16:00:24+00:00,This is Franklin. He would like you to stop ca...,12,10,Franklin,NaN,NaN,NaN,NaN